<h1 id="sql">SQL</h1>

<h2 id="databases">Databases</h2>

<ul>
  <li>Databases can be used to make it easier for web applications to store, use, and manipulate data. Particularly useful are relational databases; in other words, tables.</li>
  <li>SQL (Structured Query Language) is a language designed to interact with these relational databases. In this class, PostgreSQL will be used, but there are many other versions with slightly different features.</li>
</ul>

<h2 id="using-sql">Using SQL</h2>

<ul>
  <li>When making a database or table, it is important to note what type of data will be stored in a given column. Some SQL data types are:
    <ul>
      <li><code class="highlighter-rouge">INTEGER</code></li>
      <li><code class="highlighter-rouge">DECIMAL</code></li>
      <li><code class="highlighter-rouge">SERIAL</code> : an automatically incrementing integer</li>
      <li><code class="highlighter-rouge">VARCHAR</code> : variable length of characters, i.e. string</li>
      <li><code class="highlighter-rouge">TIMESTAMP</code></li>
      <li><code class="highlighter-rouge">BOOLEAN</code></li>
      <li><code class="highlighter-rouge">ENUM</code> : one of a discrete number of possible values</li>
    </ul>
  </li>
  <li>In addition to a data type, columns can also have a variety of other constraints:
    <ul>
      <li><code class="highlighter-rouge">NOT NULL</code> : field must have a value; if field does not have a value, entry will be rejected</li>
      <li><code class="highlighter-rouge">UNIQUE</code> : no two fields in this column can have the same value</li>
      <li><code class="highlighter-rouge">PRIMARY KEY</code> : the main way to index a table</li>
      <li><code class="highlighter-rouge">DEFAULT</code> : set a default value for a column if no other value is given</li>
      <li><code class="highlighter-rouge">CHECK</code> : bound values; e.g. values greater than 50</li>
    </ul>
  </li>
  <li>In order to get a database running, a Postgres server must be set up. To start a server locally on a computer, use the command <code class="highlighter-rouge">psql &lt;database&gt;</code>. To connect to an online server, use <code class="highlighter-rouge">psql &lt;databaseURL&gt;</code>.</li>
  <li>After starting up Postgres server, SQL commands can be entered directly into the terminal. Some other useful commands include:
    <ul>
      <li><code class="highlighter-rouge">\d</code> : print all the different parts of the current database</li>
    </ul>
  </li>
</ul>

<h3 id="basic-operations">Basic Operations</h3>

<ul>
  <li>
    <p>Creating a table:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">flights</span> <span class="p">(</span>
      <span class="n">id</span> <span class="n">SERIAL</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
      <span class="n">origin</span> <span class="n">VARCHAR</span> <span class="k">NOT</span> <span class="k">NULL</span><span class="p">,</span>
      <span class="n">destination</span> <span class="n">VARCHAR</span> <span class="k">NOT</span> <span class="k">NULL</span><span class="p">,</span>
      <span class="n">duration</span> <span class="n">INTEGER</span> <span class="k">NOT</span> <span class="k">NULL</span>
  <span class="p">);</span>
</code></pre></div>    </div>
  </li>
  <li>
    <p>Inserting data into a table:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">flights</span>
      <span class="p">(</span><span class="n">origin</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">duration</span><span class="p">)</span>
      <span class="k">VALUES</span> <span class="p">(</span><span class="s1">'New York'</span><span class="p">,</span> <span class="s1">'London'</span><span class="p">,</span> <span class="mi">415</span><span class="p">);</span>
</code></pre></div>    </div>

    <ul>
      <li>Note that there is no <code class="highlighter-rouge">id</code> field. Because <code class="highlighter-rouge">id</code> is of type <code class="highlighter-rouge">SERIAL</code>, it will increment and be set automatically.</li>
      <li>The order of values in <code class="highlighter-rouge">VALUES</code> must match the order listed earlier in the command.</li>
      <li>This command could also be entered all in one line.</li>
    </ul>
  </li>
  <li>
    <p>Reading data from a table:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="n">destination</span> <span class="k">FROM</span> <span class="n">flights</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">id</span> <span class="o">=</span> <span class="mi">3</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">origin</span> <span class="o">=</span> <span class="s1">'New York'</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">duration</span> <span class="o">&gt;</span> <span class="mi">500</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">destination</span> <span class="o">=</span> <span class="s1">'Paris'</span> <span class="k">AND</span> <span class="n">duration</span> <span class="o">&gt;</span> <span class="mi">500</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">destination</span> <span class="o">=</span> <span class="s1">'Paris'</span> <span class="k">OR</span> <span class="n">duration</span> <span class="o">&gt;</span> <span class="mi">500</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="k">AVG</span><span class="p">(</span><span class="n">duration</span><span class="p">)</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">origin</span> <span class="o">=</span> <span class="s1">'New York'</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">origin</span> <span class="k">LIKE</span> <span class="s1">'%a%'</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">LIMIT</span> <span class="mi">2</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">ORDER</span> <span class="k">BY</span> <span class="n">duration</span> <span class="k">ASC</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">ORDER</span> <span class="k">BY</span> <span class="n">duration</span> <span class="k">ASC</span> <span class="k">LIMIT</span> <span class="mi">3</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="k">COUNT</span><span class="p">(</span><span class="o">*</span><span class="p">)</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">GROUP</span> <span class="k">BY</span> <span class="n">origin</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="k">COUNT</span><span class="p">(</span><span class="o">*</span><span class="p">)</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">GROUP</span> <span class="k">BY</span> <span class="n">origin</span> <span class="k">HAVING</span> <span class="k">COUNT</span><span class="p">(</span><span class="o">*</span><span class="p">)</span> <span class="o">&gt;</span> <span class="mi">1</span><span class="p">;</span>
</code></pre></div>    </div>

    <ul>
      <li>The query after <code class="highlighter-rouge">SELECT</code> indicates what columns are being selected.</li>
      <li>The query after <code class="highlighter-rouge">WHERE</code> indicates constraints on what rows are being selected.</li>
      <li><code class="highlighter-rouge">*</code> is a wildcard that indicates ‘all’.</li>
      <li>If a SQL function is passed as a column selector, a column with the return value of that function will be returned. Useful functions include:
        <ul>
          <li><code class="highlighter-rouge">AVG(column)</code> : returns the average value</li>
          <li><code class="highlighter-rouge">COUNT(*)</code> : returns the number of rows returned by the database</li>
          <li><code class="highlighter-rouge">MIN(column)</code> : returns the minimum value</li>
          <li><code class="highlighter-rouge">MAX(column)</code> : returns the maximum value</li>
        </ul>
      </li>
      <li><code class="highlighter-rouge">LIKE</code> is a keyword that takes a template string and returns all rows where the column fits that template. <code class="highlighter-rouge">%</code> is a wildcard that will match any text. In the example above, any row with an ‘a’ in the <code class="highlighter-rouge">origin</code> column will be returned.</li>
      <li><code class="highlighter-rouge">LIMIT</code> sets the maximum number of rows to be returned.</li>
      <li><code class="highlighter-rouge">ORDER BY</code> organizes rows by a given column in either ascending (<code class="highlighter-rouge">ASC</code>) or descending (<code class="highlighter-rouge">DESC</code>) order before returning rows.</li>
      <li><code class="highlighter-rouge">GROUP BY</code> organizes rows by grouping the same values in a given column together.</li>
      <li><code class="highlighter-rouge">HAVING</code> is an optional specifier for <code class="highlighter-rouge">GROUP BY</code> which limits what rows are going to be returned, similar to <code class="highlighter-rouge">WHERE</code>.</li>
    </ul>
  </li>
  <li>
    <p>Updating data in a table:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">UPDATE</span> <span class="n">flights</span>
      <span class="k">SET</span> <span class="n">duration</span> <span class="o">=</span> <span class="mi">430</span>
      <span class="k">WHERE</span> <span class="n">origin</span> <span class="o">=</span> <span class="s1">'New York'</span>
      <span class="k">AND</span> <span class="n">destination</span> <span class="o">=</span> <span class="s1">'London'</span><span class="p">;</span>
</code></pre></div>    </div>

    <ul>
      <li><code class="highlighter-rouge">SET</code> overwrites a column in all the rows that match the <code class="highlighter-rouge">WHERE</code> query.</li>
    </ul>
  </li>
  <li>
    <p>Deleting data from a table:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>      <span class="k">DELETE</span> <span class="k">FROM</span> <span class="n">flights</span>
      <span class="k">WHERE</span> <span class="n">destination</span> <span class="o">=</span> <span class="s1">'Tokyo'</span>
</code></pre></div>    </div>
  </li>
</ul>

<h3 id="relating-tables-and-compound-queries">Relating Tables and Compound Queries</h3>

<ul>
  <li>SQL is a relational database, which means that tables inside a database can be related to each other in some way. In order to do so, we can reference, say, the <code class="highlighter-rouge">id</code> column of one table A in some other column of table B. Inside table B, the <code class="highlighter-rouge">id</code> value (which corresponds to table A) is called a ‘foreign key’.</li>
  <li>
    <p>Here’s an example to help demonstrate tables related by foreign keys:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">passengers</span> <span class="p">(</span>
      <span class="n">id</span> <span class="n">SERIAL</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
      <span class="n">name</span> <span class="n">VARCHAR</span> <span class="k">NOT</span> <span class="k">NULL</span><span class="p">,</span>
      <span class="n">flight_id</span> <span class="n">INTEGER</span> <span class="k">REFERENCES</span> <span class="n">flights</span>
  <span class="p">);</span>
</code></pre></div>    </div>

    <ul>
      <li><code class="highlighter-rouge">flight_id</code> is marked as being a foreign key for the table <code class="highlighter-rouge">flights</code> with <code class="highlighter-rouge">REFERENCES flights</code>. Since <code class="highlighter-rouge">id</code> is the <code class="highlighter-rouge">PRIMARY KEY</code> for <code class="highlighter-rouge">flights</code>, that is the column that is <code class="highlighter-rouge">flights_id</code> will map to by default.</li>
    </ul>
  </li>
  <li>
    <p>Once these two tables are created, they can be queried simultaneously:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">name</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">JOIN</span> <span class="n">passengers</span> <span class="k">ON</span> <span class="n">passengers</span><span class="p">.</span><span class="n">flight_id</span> <span class="o">=</span> <span class="n">flights</span><span class="p">.</span><span class="n">id</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">name</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">JOIN</span> <span class="n">passengers</span> <span class="k">ON</span> <span class="n">passengers</span><span class="p">.</span><span class="n">flight_id</span> <span class="o">=</span> <span class="n">flights</span><span class="p">.</span><span class="n">id</span> <span class="k">WHERE</span> <span class="n">name</span> <span class="o">=</span> <span class="s1">'Alice'</span><span class="p">;</span>
  <span class="k">SELECT</span> <span class="n">origin</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">name</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">LEFT</span> <span class="k">JOIN</span> <span class="n">passengers</span> <span class="k">ON</span> <span class="n">passengers</span><span class="p">.</span><span class="n">flight_id</span> <span class="o">=</span> <span class="n">flights</span><span class="p">.</span><span class="n">id</span><span class="p">;</span>
</code></pre></div>    </div>

    <ul>
      <li><code class="highlighter-rouge">JOIN</code> indicates that tables <code class="highlighter-rouge">flights</code> and <code class="highlighter-rouge">passengers</code> are being queried together.</li>
      <li><code class="highlighter-rouge">JOIN</code> performs an ‘inner join’: only rows where both tables match the query will be returned. In this example, only flights with passengers will be returned.</li>
      <li><code class="highlighter-rouge">ON</code> indicates how the two tables are related. In this example, the column <code class="highlighter-rouge">flight_id</code> in <code class="highlighter-rouge">passengers</code> reflects values in the column <code class="highlighter-rouge">id</code> in <code class="highlighter-rouge">flights</code>.</li>
      <li>As before, queries can be constrained with <code class="highlighter-rouge">WHERE</code>.</li>
      <li><code class="highlighter-rouge">LEFT JOIN</code> includes rows from the first table listed even if there is no match (e.g. there are no passengers on that flight). <code class="highlighter-rouge">RIGHT JOIN</code> is analogous (e.g. passengers with no flights).</li>
    </ul>
  </li>
  <li>When databases get large, it is often useful to ‘index’ them, which makes it faster to quickly reference a given column in a table any time a <code class="highlighter-rouge">SELECT</code> query is made. Note, however, that this takes extra space, as well as time. When updating the table, the index must be updated as well. It is therefore unwise to index every column of every table unnecessarily.</li>
  <li>
    <p>Nested queries are yet another way to make more complex selections:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">flights</span> <span class="k">WHERE</span> <span class="n">id</span> <span class="k">IN</span>
  <span class="p">(</span><span class="k">SELECT</span> <span class="n">flight_id</span> <span class="k">FROM</span> <span class="n">passengers</span> <span class="k">GROUP</span> <span class="k">BY</span> <span class="n">flight_id</span> <span class="k">HAVING</span> <span class="k">COUNT</span><span class="p">(</span><span class="o">*</span><span class="p">)</span> <span class="o">&gt;</span> <span class="mi">1</span><span class="p">);</span>
</code></pre></div>    </div>

    <ul>
      <li>First, in the inner query, a table containing <code class="highlighter-rouge">flight_id</code> for flights with more than 1 passenger will be returned.</li>
      <li>Then, in the outer query, all rows from <code class="highlighter-rouge">flights</code> will be selected that have an <code class="highlighter-rouge">id</code> in the table returned by the inner query.</li>
      <li>In other words, this nested query returns flight info for flights with more than 1 passenger.</li>
    </ul>
  </li>
</ul>

<h3 id="security-concerns">Security Concerns</h3>

<ul>
  <li>
    <p>One potential concern when using SQL is that a user will be able to enter malicious commands into a database. Take, for example, a simple login form that asks for a password and username. What the user enters in those fields might be put into a SQL command to select their account from a table of accounts like so:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">users</span>
      <span class="k">WHERE</span> <span class="p">(</span><span class="n">username</span> <span class="o">=</span> <span class="s1">'username'</span><span class="p">)</span>
      <span class="k">AND</span> <span class="p">(</span><span class="n">password</span> <span class="o">=</span> <span class="s1">'password'</span><span class="p">)</span>
</code></pre></div>    </div>
  </li>
  <li>
    <p>If someone guesses that there is SQL code like that above running behind the scenes, they could potentially gain access to someone else’s account by entering the follwing as their password: <code class="highlighter-rouge">1' OR '1' = '1</code>. While this may look strange out of context, when it’s processed into the <code class="highlighter-rouge">SELECT</code> query, this is the result:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">users</span>
      <span class="k">WHERE</span> <span class="p">(</span><span class="n">username</span> <span class="o">=</span> <span class="s1">'hacker'</span><span class="p">)</span>
      <span class="k">AND</span> <span class="p">(</span><span class="n">password</span> <span class="o">=</span> <span class="s1">'1'</span> <span class="k">OR</span> <span class="s1">'1'</span> <span class="o">=</span> <span class="s1">'1'</span><span class="p">);</span>
</code></pre></div>    </div>

    <ul>
      <li>By putting single-quotes in smart places, the user cleverly edited the SQL query. <code class="highlighter-rouge">'1'</code> is always equal to <code class="highlighter-rouge">'1'</code>, so it doesn’t matter what the user’s password is. The account with username <code class="highlighter-rouge">hacker</code> will still be returned.</li>
    </ul>
  </li>
  <li>In order to prevent these so-called ‘SQL injection attacks’, it is important to ‘sanitize’ any user input that is going into a SQL command. This means properly ‘escaping’ characters like <code class="highlighter-rouge">'</code>, which can drastically change the meaning of the command, so that it is interpeted as simply the <code class="highlighter-rouge">'</code> character. Otherwise, there is the risk of malicious users editing or even deleting entire databases in this way.</li>
  <li>
    <p>Another way that things can go wrong is if two users try to modify or access a database at the same time, and SQL commands get executed in an unexpected order. This is the problem of ‘race conditions’. Consider a case where a bank information is stored in a database and two customers, who share an account, try to make withdrawals simultaneously. The SQL commands that get executed when money is withdrawn might look like this:</p>

    <div class="language-sql highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="k">SELECT</span> <span class="n">balance</span> <span class="k">FROM</span> <span class="n">bank</span> <span class="k">WHERE</span> <span class="n">user_id</span> <span class="o">=</span> <span class="mi">1</span><span class="p">;</span>
  <span class="k">UPDATE</span> <span class="n">bank</span> <span class="k">SET</span> <span class="n">balance</span> <span class="o">=</span> <span class="n">balance</span> <span class="o">-</span> <span class="mi">100</span> <span class="k">WHERE</span> <span class="n">user_id</span> <span class="o">=</span> <span class="mi">1</span><span class="p">;</span>
</code></pre></div>    </div>

    <ul>
      <li>First, the customer’s balance must be checked to make sure that they have enough money.</li>
      <li>Then, the balance is updated to reflect their withdrawl.</li>
    </ul>
  </li>
  <li>Since each command takes some amount of time to run, it is possible that two customers at two ATMs make withdrawls with just the right timing so that the customer B’s <code class="highlighter-rouge">SELECT</code> query runs before customer A’s <code class="highlighter-rouge">UPDATE</code> query. Even though customer A might already have taken the last $100 in the account, since the database hasn’t been updated, when customer B asks for $100, the database will allow the withdrawl.</li>
  <li>The solution to race conditions is to implement SQL transactions. During a transaction, the database is essentially locked so that another user cannot make a request until it is complete. A transaction is opened with <code class="highlighter-rouge">BEGIN</code> and closed with <code class="highlighter-rouge">COMMIT</code>.</li>
</ul>

<h2 id="python-and-sql">Python and SQL</h2>

<ul>
  <li>In order to integrate these databases into web applications, the Python code running the web server must also be able to run SQL commands. SQLAlchemy is a Python library that allows for this functionality.</li>
  <li>
    <p>Starting with simple Python outside of a web context, here’s how one might go about printing all the flights in the <code class="highlighter-rouge">flights</code> table:</p>

    <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="kn">import</span> <span class="nn">os</span>

  <span class="kn">from</span> <span class="nn">sqlalchemy</span> <span class="kn">import</span> <span class="n">create_engine</span>
  <span class="kn">from</span> <span class="nn">sqlalchemy.orm</span> <span class="kn">import</span> <span class="n">scoped_session</span><span class="p">,</span> <span class="n">sessionmaker</span>

  <span class="n">engine</span> <span class="o">=</span> <span class="n">create_engine</span><span class="p">(</span><span class="n">os</span><span class="o">.</span><span class="n">getenv</span><span class="p">(</span><span class="s">"DATABASE_URL"</span><span class="p">))</span> <span class="c"># database engine object from SQLAlchemy that manages connections to the database</span>
                                                    <span class="c"># DATABASE_URL is an environment variable that indicates where the database lives</span>
  <span class="n">db</span> <span class="o">=</span> <span class="n">scoped_session</span><span class="p">(</span><span class="n">sessionmaker</span><span class="p">(</span><span class="n">bind</span><span class="o">=</span><span class="n">engine</span><span class="p">))</span>    <span class="c"># create a 'scoped session' that ensures different users' interactions with the</span>
                                                    <span class="c"># database are kept separate</span>

  <span class="n">flights</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT origin, destination, duration FROM flights"</span><span class="p">)</span><span class="o">.</span><span class="n">fetchall</span><span class="p">()</span> <span class="c"># execute this SQL command and return all of the results</span>
  <span class="k">for</span> <span class="n">flight</span> <span class="ow">in</span> <span class="n">flights</span>
      <span class="k">print</span><span class="p">(</span><span class="n">f</span><span class="s">"{flight.origin} to {flight.destination}, {flight.duration} minutes."</span><span class="p">)</span> <span class="c"># for every flight, print out the flight info</span>
</code></pre></div>    </div>

    <ul>
      <li><code class="highlighter-rouge">flights</code> is a list of the rows the came back from the SQL query. The individual columns in each row can be accessed with dot notation.</li>
    </ul>
  </li>
  <li>
    <p>Data can also be inserted into a database with Python. In this example, the raw data is coming from a CSV (comma-separated values) file:</p>

    <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="kn">import</span> <span class="nn">csv</span>

  <span class="c"># same import and setup statements as above</span>

  <span class="n">f</span> <span class="o">=</span> <span class="nb">open</span><span class="p">(</span><span class="s">"flights.csv"</span><span class="p">)</span>
  <span class="n">reader</span> <span class="o">=</span> <span class="n">csv</span><span class="o">.</span><span class="n">reader</span><span class="p">(</span><span class="n">f</span><span class="p">)</span>
  <span class="k">for</span> <span class="n">origin</span><span class="p">,</span> <span class="n">destination</span><span class="p">,</span> <span class="n">duration</span> <span class="ow">in</span> <span class="n">reader</span><span class="p">:</span> <span class="c"># loop gives each column a name</span>
      <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"INSERT INTO flights (origin, destination, duration) VALUES (:origin, :destination, :duration)"</span><span class="p">,</span>
                  <span class="p">{</span><span class="s">"origin"</span><span class="p">:</span> <span class="n">origin</span><span class="p">,</span> <span class="s">"destination"</span><span class="p">:</span> <span class="n">destination</span><span class="p">,</span> <span class="s">"duration"</span><span class="p">:</span> <span class="n">duration</span><span class="p">})</span> <span class="c"># substitute values from CSV line into SQL command, as per this dict</span>
      <span class="k">print</span><span class="p">(</span><span class="n">f</span><span class="s">"Added flight from {origin} to {destination} lasting {duration} minutes."</span><span class="p">)</span>
  <span class="n">db</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span> <span class="c"># transactions are assumed, so close the transaction finished</span>
</code></pre></div>    </div>
    <ul>
      <li>The colon notation used in <code class="highlighter-rouge">db.execute()</code> call is Postgres’ placeholder notation for values. This allows for the substitution of Python variables into SQL commands. Additionally, SQLAlchemy automatically takes care of sanitizing the values passed in.</li>
    </ul>
  </li>
</ul>

<h3 id="incorporating-sql-into-web-applications-with-flask">Incorporating SQL into Web Applications with Flask</h3>

<ul>
  <li>
    <p>Everything discussed so far can be implemented in the exact same way inside a Flask application. Some of the code to add to <code class="highlighter-rouge">application.py</code> (along with the necessary import and set up statements) could look like this:</p>

    <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="nd">@app.route</span><span class="p">(</span><span class="s">"/"</span><span class="p">)</span>
  <span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
      <span class="n">flights</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT * FROM flights"</span><span class="p">)</span><span class="o">.</span><span class="n">fetchall</span><span class="p">()</span>
      <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"index.html"</span><span class="p">,</span> <span class="n">flights</span><span class="o">=</span><span class="n">flights</span><span class="p">)</span>

  <span class="nd">@app.route</span><span class="p">(</span><span class="s">"/book"</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">"POST"</span><span class="p">])</span>
  <span class="k">def</span> <span class="nf">book</span><span class="p">():</span>
      <span class="c"># Get form information.</span>
      <span class="n">name</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">"name"</span><span class="p">)</span>
      <span class="k">try</span><span class="p">:</span>
          <span class="n">flight_id</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">"flight_id"</span><span class="p">))</span>
      <span class="k">except</span> <span class="nb">ValueError</span><span class="p">:</span>
          <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"error.html"</span><span class="p">,</span> <span class="n">message</span><span class="o">=</span><span class="s">"Invalid flight number."</span><span class="p">)</span>

      <span class="c"># Make sure the flight exists.</span>
      <span class="k">if</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT * FROM flights WHERE id = :id"</span><span class="p">,</span> <span class="p">{</span><span class="s">"id"</span><span class="p">:</span> <span class="n">flight_id</span><span class="p">})</span><span class="o">.</span><span class="n">rowcount</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
          <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"error.html"</span><span class="p">,</span> <span class="n">message</span><span class="o">=</span><span class="s">"No such flight with that id."</span><span class="p">)</span>
      <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"INSERT INTO passengers (name, flight_id) VALUES (:name, :flight_id)"</span><span class="p">,</span>
              <span class="p">{</span><span class="s">"name"</span><span class="p">:</span> <span class="n">name</span><span class="p">,</span> <span class="s">"flight_id"</span><span class="p">:</span> <span class="n">flight_id</span><span class="p">})</span>
      <span class="n">db</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
      <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"success.html"</span><span class="p">)</span>
</code></pre></div>    </div>

    <ul>
      <li>The <code class="highlighter-rouge">try</code> block of code is always run. If there is an error, and in particular, a <code class="highlighter-rouge">ValueError</code>, the code in the <code class="highlighter-rouge">except</code> block is run. The program’s flow then continues as normal.</li>
      <li><code class="highlighter-rouge">rowcount</code> is a SQLAlchemy feature that is a property of db.execute(), which is equal the number of rows returned by the query.</li>
      <li><code class="highlighter-rouge">error.html</code> and <code class="highlighter-rouge">success.html</code> could be generic templates that render the error <code class="highlighter-rouge">message</code> and some success statement, respectively.</li>
    </ul>
  </li>
  <li>The corresponding <code class="highlighter-rouge">index.html</code>:
    <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    
  <span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">"{{ url_for('book') }}"</span> <span class="na">method=</span><span class="s">"post"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;select</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">name=</span><span class="s">"flight_id"</span><span class="nt">&gt;</span>
              {% for flight in flights %}
                  <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"{{ flight.id }}"</span><span class="nt">&gt;</span>{{ flight.origin }} to {{ flight.destination }}<span class="nt">&lt;/option&gt;</span>
              {% endfor %}
          <span class="nt">&lt;/select&gt;</span>
      <span class="nt">&lt;/div&gt;</span>

      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">name=</span><span class="s">"name"</span> <span class="na">placeholder=</span><span class="s">"Passenger Name"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>

      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Book Flight<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;/form&gt;</span>
    
</code></pre></div>    </div>

    <ul>
      <li>Note that some elements, such as the <code class="highlighter-rouge">form-control</code> class, are Bootstrap components.</li>
      <li><code class="highlighter-rouge">name</code> attributes are relevant for referencing them in Python code.</li>
      <li>As is shown, the same dot notation that can be used in Python can also be used in Jinja2 templating.</li>
    </ul>
  </li>
  <li>
    <p>Taking this example one step further, it is possible to set up individual web pages for each flight that display some information about that flight. Here’s some Python code that would take care of the routing for these new pages:</p>

    <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="nd">@app.route</span><span class="p">(</span><span class="s">"/flights"</span><span class="p">)</span>
  <span class="k">def</span> <span class="nf">flights</span><span class="p">():</span>
      <span class="n">flights</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT * FROM flights"</span><span class="p">)</span><span class="o">.</span><span class="n">fetchall</span><span class="p">()</span>
      <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"flights.html"</span><span class="p">,</span> <span class="n">flights</span><span class="o">=</span><span class="n">flights</span><span class="p">)</span>

  <span class="nd">@app.route</span><span class="p">(</span><span class="s">"/flights/&lt;int:flight_id&gt;"</span><span class="p">)</span>
  <span class="k">def</span> <span class="nf">flight</span><span class="p">(</span><span class="n">flight_id</span><span class="p">):</span>
      <span class="c"># Make sure flight exists.</span>
      <span class="n">flight</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT * FROM flights WHERE id = :id"</span><span class="p">,</span> <span class="p">{</span><span class="s">"id"</span><span class="p">:</span> <span class="n">flight_id</span><span class="p">})</span><span class="o">.</span><span class="n">fetchone</span><span class="p">()</span>
      <span class="k">if</span> <span class="n">flight</span> <span class="ow">is</span> <span class="bp">None</span><span class="p">:</span>
          <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"error.html"</span><span class="p">,</span> <span class="n">message</span><span class="o">=</span><span class="s">"No such flight."</span><span class="p">)</span>

      <span class="c"># Get all passengers.</span>
      <span class="n">passengers</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">execute</span><span class="p">(</span><span class="s">"SELECT name FROM passengers WHERE flight_id = :flight_id"</span><span class="p">,</span>
                              <span class="p">{</span><span class="s">"flight_id"</span><span class="p">:</span> <span class="n">flight_id</span><span class="p">})</span><span class="o">.</span><span class="n">fetchall</span><span class="p">()</span>
      <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">"flight.html"</span><span class="p">,</span> <span class="n">flight</span><span class="o">=</span><span class="n">flight</span><span class="p">,</span> <span class="n">passengers</span><span class="o">=</span><span class="n">passengers</span><span class="p">)</span>
</code></pre></div>    </div>

    <ul>
      <li><code class="highlighter-rouge">/flights</code> is a going to be a generic route to simply display a list of all flights.</li>
      <li>Additionally, <code class="highlighter-rouge">/flights/&lt;int:flight_id&gt;</code> provides for any individual flight’s info page. <code class="highlighter-rouge">&lt;int:flight_id&gt;</code> is a variable that is going to passed to Flask by the HTML in <code class="highlighter-rouge">flights.html</code>. This variable is then passed to the <code class="highlighter-rouge">flight</code> function, which passes the id into a SQL query to get all the info about the flight, including all of the passengers on that flight.</li>
    </ul>
  </li>
  <li><code class="highlighter-rouge">flights.html</code>:
    <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    
  <span class="nt">&lt;ul&gt;</span>
      {% for flight in flights %}
          <span class="nt">&lt;li&gt;</span>
              <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ url_for('flight', flight_id=flight.id) }}"</span><span class="nt">&gt;</span>
                  {{ flight.origin }} to {{ flight.destination }}
              <span class="nt">&lt;/a&gt;</span>
          <span class="nt">&lt;/li&gt;</span>
      {% endfor %}
  <span class="nt">&lt;/ul&gt;</span>
    
</code></pre></div>    </div>
    <ul>
      <li>It’s in the link here that <code class="highlighter-rouge">flight.id</code>, which is an column from the row <code class="highlighter-rouge">flight</code>, which comes from looping through <code class="highlighter-rouge">flights</code>, which in turn was passed in from the Python code for <code class="highlighter-rouge">/flights</code>. It’s given the variable name <code class="highlighter-rouge">flight_id</code>, which is what the python route for <code class="highlighter-rouge">/flights/&lt;int:flight_id&gt;</code> expects.</li>
    </ul>
  </li>
  <li><code class="highlighter-rouge">flight.html</code>:
    <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    
  <span class="nt">&lt;h1&gt;</span>Flight Details<span class="nt">&lt;/h1&gt;</span>

  <span class="nt">&lt;ul&gt;</span>
      <span class="nt">&lt;li&gt;</span>Origin: {{ flight.origin }}<span class="nt">&lt;/li&gt;</span>
      <span class="nt">&lt;li&gt;</span>Destination: {{ flight.destination }}<span class="nt">&lt;/li&gt;</span>
      <span class="nt">&lt;li&gt;</span>Duration: {{ flight.duration}} minutes<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>

  <span class="nt">&lt;h2&gt;</span>Passengers<span class="nt">&lt;/h2&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
      {% for passenger in passengers %}
          <span class="nt">&lt;li&gt;</span>{{ passenger.name }}<span class="nt">&lt;/li&gt;</span>
      {% else %}
          <span class="nt">&lt;li&gt;</span>No passengers.<span class="nt">&lt;/li&gt;</span>
      {% endfor %}
  <span class="nt">&lt;/ul&gt;</span>
    
</code></pre></div>    </div>
    <ul>
      <li>The only new piece here is using <code class="highlighter-rouge">{% else %}</code> with a for-loop to account for the case where <code class="highlighter-rouge">passengers</code> is empty.</li>
    </ul>
  </li>
</ul>
